# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data
data/
datasets/

# Results / logs
outputs/
results/
logs/
runs/
wandb/

# Model weights
*.pth
*.pt
*.ckpt
*.onnx

# Editor / OS
.vscode/
.idea/
.DS_Store
# Ignore qualitative outputs by default
demo_qualitatives/*

# Keep selected Sintel alley sample only
!demo_qualitatives/sintel_alley_1_all/
demo_qualitatives/sintel_alley_1_all/*
!demo_qualitatives/sintel_alley_1_all/alley_1_frame_0001_id0000/
!demo_qualitatives/sintel_alley_1_all/alley_1_frame_0001_id0000/**
